.navbar-light {
    height: 70px;
    background-color:white !important;
    -webkit-box-shadow: 0px -30px 43px 6px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px -30px 43px 6px rgba(0,0,0,0.68);
    box-shadow: 0px -30px 43px 6px rgba(0,0,0,0.68);
}   

#justify-content-end{
    color:#fa6900;
}
#brand-icon {
    margin-left: 40px;
}

.button-header {
    color: #fa6900 !important;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 12px !important;
    margin: 10px;
  }
.button-header:hover {
    color: #ff9e59 !important;
    transition-duration: 0.3s;
    transform: scale(1.002);
  }
.button-active {
    color: white !important;
    background: #fa6900;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px !important;
    margin: 10px;
}
.button-active:hover {
    opacity: 0.8;
    transition-duration: 0.2s;
    transform: scale(1.002);
}

