.navbar-light {
    height: 70px;
    background-color:white !important;
    -webkit-box-shadow: 0px -30px 43px 6px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px -30px 43px 6px rgba(0,0,0,0.68);
    box-shadow: 0px -30px 35px 6px rgba(0,0,0,0.68) !important;    
}   

#justify-content-end{
    color:#fa6900;
    padding-right: 7%;
}
#brand-icon {
    margin-left: 8%;
}

.photo-header i {
   color: #0099B0;
   justify-content: center;
   align-items: center;
   margin-top: 25%;
   margin-right: 5%;
   margin-left: 80%;
}

#item-photo-header:hover {
    color: #0099b0;
}

#item-photo-header:active {
    background-color: #A7DBD7;
}

.header-search-bar {
    width: 30%;
    height: 45px;
    padding-left: 1%;
    margin-left: 3%;
    border-color: rgb(197, 197, 197);
    border: 1px ridge;
}

.button-header {
    color: #fa6900 !important;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 12px !important;
    margin: 10px;
  }
.button-header:hover {
    color: #ff9e59 !important;
    transition-duration: 0.3s;
    transform: scale(1.002);
  }
.button-active {
    color: white !important;
    background: #fa6900;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px !important;
    margin: 10px;
}
.button-active:hover {
    opacity: 0.8;
    transition-duration: 0.2s;
    transform: scale(1.002);
}

#logo-letter {
    margin-left: 12%;
}