@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

div#login-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

form#login-form {
    min-width: 200px;
    max-width: 400px;
}