.mainpage {
    animation-duration: 4s;
    background-size: auto;
    background: url("cafofoback.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    position:fixed;
  }
  
  #shadowimage {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
  }